/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
    font-family: 'TT';
    src: url('/public/assets/fonts/TT.ttf') format('truetype');
}

@font-face {
    font-family: 'Silka';
    src: url('/public/assets/fonts/Silka-Regular.otf') format('opentype');
}

/* Custom Layout */
@layer utilities {
    .nav-btn {
        @apply m-2 flex items-center rounded-lg;
        user-select: none;
    }

    .nav-btn-hover {
        @apply hover:bg-[#EFEFEF] transition duration-100;
    }

    .icon {
        @apply min-w-[2.5rem] min-h-[2.5rem] flex items-center justify-center p-2 rounded-lg;
    }

    .nav-text {
        @apply whitespace-nowrap overflow-hidden transition-all duration-300;
        transition-timing-function: cubic-bezier(.67, .61, .28, 1.27);
    }
}

/* Claok */
[x-cloak] {
    display: none !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #adadad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #838383;
}
.spinner > svg {
    animation: rotate 2s linear infinite;
}

.spinner > svg circle {
    fill: none;
    stroke: #923534;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 80; /* Adjust the dash length */
    stroke-dashoffset: 80; /* Start with the full dash hidden */
    animation: spinner 2s linear infinite;
}

/* Loading Spinner
<div class="spinner flex" id="spinner-{{ $student->student_id }}">
    <svg height="30" width="30">
        <circle r="13" cx="15" cy="15"/>
    </svg>
</div> 
*/

@keyframes spinner {
    0% {
        stroke-dashoffset: 80;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -80;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
